body {
    background: linear-gradient(135deg, #ffffff , #ffffff);
    height:100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_ero_caraiba{
    height: 50px;
    margin: 10px;
}
.titulo{
    font-size: 24px;
}

.lista_scripts{
    list-style-type: none;
    padding: 2px;
}
.menu{
    width: 250px;

}

.lista_scripts li{
    /* margin: 1px; */
    /* padding: 15px; */
    height: 35px;
    /* border-radius: 5px; */
    border-color: gray;
    border-style: solid;
    border-width: .5px;
    background: linear-gradient(to bottom, #fbfaf9 5%, #dcd9d2 100%);
    /* text-align: center; */
    vertical-align: middle; 
}

.lista_scripts a{
    text-decoration: none;
    color: black;
}

.lista_scripts li:hover{
    border-left-style: solid;
    border-left-color: #f6872e;
    border-left-width: 10px;
    background-color: rgba(222, 222, 220, 20%)
}



